<h1><%= @post.title %></h1>

<p><%= sanitize @post.content %><p>

<h4>参考url</h4>

<%= @post.auther %>

<div id="like-btn-<%= @post.id %>">
   <%= render 'likes/like', post: @post %>
</div>

<h5>コメント</h5>

 <%= render 'comments/comment', post: @post %>


<%= render 'comments/new', post: @post %> 


<%= link_to '戻る |', posts_path %>

<tbody>
  <tr>
    <% if @post.bookmarked_by?(current_user) %>
      <td><%= link_to "ブックマークを外す", post_bookmark_path(@post), method: :delete %></td>
    <% else %>
      <td><%= link_to "ブックマーク", post_bookmarks_path(@post), method: :post %></td>
    <% end %>
  </tr>
</tbody>