<h1><%= @post.title %></h1>

<p><%= sanitize @post.content %><p>

<h1>Auther</h1>

<%= @post.auther %>

<h2>Comments</h2>

 <%= render 'comments/comment', post: @post %>


<%= render 'comments/new', post: @post %> 


<%= link_to 'Back', posts_path %>